{{!-- The navigation bar is based on the code from the bootstrap navbar, here: https://getbootstrap.com/docs/5.0/components/navbar/
Each list item is a link to a new page and the nav tag identifies the code as for a navigation bar  --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Rich Frank</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/resume">Resume</a>
        <a class="nav-link" href="/portfolio">Portfolio</a>
      </div>
    </div>
  </div>
</nav>