<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-5">
      <h1>Contact Me</h1>
      <form action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php"
        method="post">
        <fieldset>
          <legend>Please fill out the required fields below. (*)</legend>
          <input type="text" name="name_input" placeholder="First Name" size="30" maxlength="100" required>
          <br>
          <label for="name_input">Name* </label>
          <br>
          <br>
          <input type="email" name="email_input" placeholder="email@email.com" size="30" maxlength="100" required>
          <br>
          <label for="email_input">Email*
          </label>
          <br>
          <br>
          <textarea name="message" size="30" maxlength="100" placeholder="Leave me a short message" required></textarea>
          <br>
          <label>Message*
          </label>
          <br>
          <br>
          <input type="submit" value="Submit Form">
          <br>
        </fieldset>
      </form>
    </div>
    <div class="col"></div>