<h1>This is the portfolio page.</h1>
<div class="container">
  {{!-- The section of code below is based on the concept of a bootstrap "card": https://getbootstrap.com/docs/5.0/components/card/ 
The first div identified the location of the card and size, the second div contains the style theme information, and the remainder is the formatting of the card body
in this case, the content of my public portfolio.--}}

  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem; height: 20rem;">
        <div class="card-body">
          <h5 class="card-title">Simple Port Scanner</h5>
          <p class="card-text">
            <strong>Language: </strong>Java
            <br>
            <strong>Purpose: </strong>This tool will perform a scan similar to the NMAP Syn scan and will return the
            list of ports that allow connection. Currently it scans all 65,000 ports, but that can be easily changed by
            updating the port values in the program.
          </p>
          <a href="https://github.com/RichardFFrank/Portfolio-Projects/blob/main/Java_Project/Port_Scanner/src/PortScanner.java"
            class="btn btn-primary">Link to github</a>
        </div>
      </div>

    </div>
    <div class="col">
      <div class="card" style="width: 18rem; height: 20rem;">
        <div class="card-body">
          <h5 class="card-title">Janggi Simulator</h5>
          <p class="card-text"><strong>Language: </strong>Python
            <br>
            <strong>Purpose: </strong>A simply python program that allows the user to simulate a game of Janggi. The
            standard Janggi rules have been implemented, see <a href="https://en.wikipedia.org/wiki/Janggi">the game
              rules</a> for more details.
          </p>
          <br>
          <a href="https://github.com/RichardFFrank/Portfolio-Projects/blob/main/Python_Projects/JanggiGame.py"
            class="btn btn-primary">Link to github</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem; height: 20rem;">
        <div class="card-body">
          <h5 class="card-title">Assembly Showcase</h5>
          <p class="card-text"><strong>Language: </strong>x86 Assembly
            <br>
            <strong>Purpose: </strong>This program show basic competencies in x86 assembly (MASM). Functionality
            showcased includes string manipulation, macro and procedure implementation, and array functionalities.
          </p>
          <br>
          <a href="https://github.com/RichardFFrank/Portfolio-Projects/blob/main/x86_project/x86_Portfolio%20Project_%20String%20Manipulation.asm"
            class="btn btn-primary">Link to github</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="card" style="width: 24rem;">
    <div class="bg-light">
      <div class="card-body">
        <h5 class="card-title">Contact Information</h5>
        <h6 class="card-subtitle mb-2 text-muted">Cybersecurity Consultant by Day - Student by Night</h6>

        <a href="mailto:richard.f.frank@gmail.com" class="card-link">richard.f.frank@gmail.com</a>
        <br>
        <a src="www.linkedin.com/in/richard-f-frank" class="card-link">linkedin.com/in/richard-f-frank</a>
      </div>
    </div>
  </div>
</div>