<h1>This is the portfolio page.</h1>
<div class="container">
  {{!-- The section of code below is based on the concept of a bootstrap "card": https://getbootstrap.com/docs/5.0/components/card/ 
The first div identified the location of the card and size, the second div contains the style theme information, and the remainder is the formatting of the card body
in this case, the content of my public portfolio.--}}

    </div>
      <div class="col">
      <div class="card" style="width: 18rem; height: 20rem;">
        <div class="card-body">
          <h5 class="card-title">Smallsh</h5>
          <p class="card-text">
            <strong>Language: </strong>C
            <br>
            <strong>Purpose: </strong>This tool is an implementation of a lightweight command shell, written in C. It contains several built in 
            commands (cd, status, and exit) and supports all remaining commands via the exec family of functions.
          </p>
          <a href="https://github.com/RichardFFrank/Operating-Systems"
            class="btn btn-primary">Link to github</a>
        </div>
      </div>

    </div>
      <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem; height: 20rem;">
        <div class="card-body">
          <h5 class="card-title">NYC Commute Assistant</h5>
          <p class="card-text">
            <strong>Language: </strong>Python
            <br>
            <strong>Purpose: </strong>
          This scipt leverages real time data (format: GTFS-rt) provided by the NYC MTA to determine all trains scheduled to arrive at a given stop
          and determines which trains the user can make based on a given walk time. This project is still a work-in-progress, next steps are to leverage the Google distance API
          to pre-calculate the walk-time from a given location.   
          </p>
          <a href="https://github.com/RichardFFrank/Operating-Systems"
            class="btn btn-primary">Link to github</a>
        </div>
      </div>
    
    <div class="col">
      <div class="card" style="width: 18rem; height: 20rem;">
        <div class="card-body">
          <h5 class="card-title">Assembly Showcase</h5>
          <p class="card-text"><strong>Language: </strong>x86 Assembly
            <br>
            <strong>Purpose: </strong>This program show basic competencies in x86 assembly (MASM). Functionality
            showcased includes string manipulation, macro and procedure implementation, and array functionalities.
          </p>
          <br>
          <a href="https://github.com/RichardFFrank/Computer-Architecture-and-Assembly-Language/blob/main/Proj6_frankri.asm"
            class="btn btn-primary">Link to github</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="card" style="width: 24rem;">
    <div class="bg-light">
      <div class="card-body">
        <h5 class="card-title">Contact Information</h5>
        <h6 class="card-subtitle mb-2 text-muted">Cybersecurity Consultant by Day - Student by Night</h6>

        <a href="mailto:richard.f.frank@gmail.com" class="card-link">richard.f.frank@gmail.com</a>
        <br>
        <a src="www.linkedin.com/in/richard-f-frank" class="card-link">linkedin.com/in/richard-f-frank</a>
      </div>
    </div>
  </div>
</div>